*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
build.gradle
gradle/wrapper/gradle-wrapper.properties
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
build.gradle
gradle/wrapper/gradle-wrapper.properties
.idea/caches/build_file_checksums.ser
